<link rel="stylesheet" href="../public/assets/css/register.css">
<div class="no-gutter">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-1" href="#">Delta 32</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Featured
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Medical</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Environmental</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Lifestyle</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mission</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                <button class="btn btn-outline-success my-2 my-sm-0" id="nav_search_btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</div>




{{!-- LOGIN FORM --}}
<div class="login-page">
    <div class="form">
        <h2>Thank You For Being A Contrubitor!</h2>
        <form id="signin" name="signin" method="post" action="signin" class="login-form">
            <input id="email" name="email" type="text" placeholder="Email Address" />
            <input id="password" name="password" type="password" placeholder="Password" />
            <input class="btn" type="submit" value="Sign In">
            <p class="message">Don't have an account?
                <a href="#">Sign up</a>
            </p>
        </form>
    </div>
</div>


{{!-- footer --}}
<footer class="footer">
    <span class="text-muted"></span>
    <a class="brand" href="#">Delta 32</a>
    <a class="links"> || </a>
    <a class="links" href="#">About </a>
    <a class="links" href="#">Careers </a>
    </span>
</footer>