body {
  background: #d9e7ff;
  background: linear-gradient(90deg, #d9e7ff 0%, hsl(225, 17%, 95%) 100%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nav bar */
nav {
  z-index: 4;
  position: fixed !important;
  height: 3.1em;
  top: 0px;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 10px 1px #88888845;
}
.navbar-brand {
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
}

#nav_search_btn {
  color: #4c5454eb;
  border-color: #4c545454;
}

#nav_search_btn:hover {
  color: #49494c;
  background-color: #b1b1b136;
}

/* body */
h3,
h5,
label {
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 14px;
}
#recorder {
  z-index: 1 !important;
}

.main {
  z-index: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.cards {
  position: relative;
  background: #ffffff;
  max-width: 550px;
  margin: 0 auto 20px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* form */
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 550px;
  margin: 0 auto 10px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,
#category,
#description {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  margin: 0 0 15px;
  border: none;
  background: #f2f2f2;
  box-sizing: border-box;
  font-size: 14px;
}

.submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00d4ff;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  border: blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.submit:hover,
.submit:active,
.submit:focus {
  background: linear-gradient(90deg, #00d4ff 0%, #0072ff 100%);
}

/* footer */
.footer {
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f8f9fa !important;
  text-align: center;
  margin: 0%;
}
.brand {
  font-family: "Do Hyeon", sans-serif;
  color: black !important;
}
.links,
.links:hover,
a {
  padding: 5px;
  text-decoration: none;
  color: black !important;
}

#logout {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00d4ff;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  border: blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  color: white !important;
}
#logout:hover,
#logout:active,
#logout:focus {
  background: linear-gradient(90deg, #00d4ff 0%, #0072ff 100%);
}
#logout-card {
  text-align: center;
  position: relative;
  background: #ffffff;
  max-width: 550px;
  margin: 0 auto 40px;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
