body {
  background: #d9e7ff;
  background: linear-gradient(90deg, #d9e7ff 0%, hsl(225, 17%, 95%) 100%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h1,
label {
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 14px;
}

.vid-card {
  position: relative;
  z-index: 1;
  background: #ffffff;
  min-width: 640px;
  margin: 0 auto 40px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.side-card {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 550px;
  margin: 0 auto 40px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Nav bar */
nav {
  z-index: 1;
  position: fixed !important;
  height: 3.1em;
  top: 0px;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 10px 1px #88888845;
}
.navbar-brand {
  font-family: "Do Hyeon", sans-serif;
  font-size: x-large;
}
.row {
  margin-top: 5em;
}

#nav_search_btn {
  color: #4c5454eb;
  border-color: #4c545454;
}

#nav_search_btn:hover {
  color: #49494c;
  background-color: #b1b1b136;
}

/* footer */
.footer {
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f8f9fa !important;
  text-align: center;
  margin: 0%;
}
.brand {
  font-family: "Do Hyeon", sans-serif;
  color: black !important;
}
.links,
.links:hover,
a {
  padding: 5px;
  text-decoration: none;
  color: black !important;
}
